.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

# chef-provisioner
test/chef-config/*.pem
test/chef-config/local-mode-cache/
clients/*
cookbooks/*
nodes/*
vms/*

# kitchen-terraform
.terraform/
terraform.*
